/* Board.css */
.board-container {
    padding: 20px;
    flex-grow: 1; /* Tabla zauzima preostali prostor */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: flex;
    gap: 15px; /* Razmak između kolona */
    width: 110%;
    overflow-x: auto;
}
.h2{
    margin-bottom: 20px;
    font-align:relative;
}
.h1-style{
    font-size: 30px;
    color: #333;
    margin-left: 350px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.board-container h1{
    font-size: 28px;
    color: #333;
  }
.board-column {
    flex: 1;
    width: 260px;
    background-color: rgb(240, 241, 241);;
    backdrop-filter: blur(60px);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    height: 75vh; /* Ograničena visina */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top:120px;
}

.board-column h3 {
    text-align: center;
    margin-bottom: 10px;
    background-color:rgb(138, 126, 249);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.task-list {
    flex-grow: 1; /* Omogućava taskovima da popune prostor */
    padding: 5px;
    overflow-y: auto; /* Omogućava skrolovanje ako ima puno taskova */
    min-height: 50px;
}
.completeSprintButton{
        width:100px;
        height: 45px;
        background-color: #007bff;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        font-size: 14px;
        color: white;
        margin-top:-15px;
        padding: 0.5rem 1rem;
}

.sprint-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .spacer {
    width: 100px; /* isto kao dugme */
  }
  
  .sprint-title {
    text-align: center;
    flex-grow: 1;
    font-size: 35px;
    margin: 0;
  }
  
  .complete-sprint-btn {
    width: 100px;
    height: 45px;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 14px;
    color: white;
  }
  .complete-sprint-btn:hover{
    background-color:rgb(9, 104, 205);
  }