/* Board.css */
.board-container {
    padding: 20px;
    flex-grow: 1; /* Tabla zauzima preostali prostor */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: flex;
    gap: 15px; /* Razmak između kolona */
    width: 110%;
    overflow-x: auto;
}
.h2{
    margin-bottom: 20px;
    font-align:relative;
}
.h1-style{
    font-size: 30px;
    color: #333;
    margin-left: 350px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.board-container h1{
    font-size: 28px;
    color: #333;
  }
.board-column {
    flex: 1;
    width: 260px;
    background-color: rgb(240, 241, 241);;
    backdrop-filter: blur(60px);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    height: 70vh; /* Ograničena visina */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top:120px;
}

.board-column h3 {
    text-align: center;
    margin-bottom: 10px;
    background-color:rgb(138, 126, 249);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.task-list {
    flex-grow: 1; /* Omogućava taskovima da popune prostor */
    padding: 5px;
    overflow-y: auto; /* Omogućava skrolovanje ako ima puno taskova */
    min-height: 50px;
}
